#wrapper .header_area{
  position: fixed;
  width: 100%;
  height: 100px;
  top: 0;
  z-index: 100;
  left: 0;
  min-width: 1700px;
}

#wrapper .header_area:hover{
  background: #fff;
  height: 500px;
}
#wrapper .header_area:after {
  content: '';
  position: absolute;
  width: 100%;
  top: 100;
  top: -20px0;
  height: 1px;
  margin-top: -402px;
  background-color: #e8e8e8;
}
#wrapper .header_area:hover .nav-sub-column{
  display: block;
}
#wrapper .header_area:hover .nav-main-link{
  color: #333;
}
#wrapper .header_area:hover .nav-main-link:hover{
  color: #006ec2;
}
#wrapper .header_area:hover .nav-sub-column a:hover {
  color: #006ec2;
}
#wrapper .header_area:hover .header_logo a {
  background: url(../images/black_logo.png)no-repeat;
}
#wrapper .header_area .header_inner{
  text-align: center;
}
.header_logo {
  position: absolute;
  width: 197px;
  margin-top: 28px;
  margin-bottom: 28px;
  padding-left: 25px;
}
.header_logo a {
  overflow: hidden;
  display: block;
  height: 44px;
  background: url(../images/white_logo.png)no-repeat;
  text-indent: -9999px;
}
.nav {
  overflow: hidden;
  font-size: 18px;
  display: inline-block;
}
nav .nav-wrapper{
  float: left;
}
.nav-main-link {
  position: relative;
  padding: 29px 0;
  margin: 0 30px;
  line-height: 100px;
  color: #fff;
  font-weight: bold;
}
.nav-wrapper:hover{
  color: #006ec2;
}
.nav-wrapper:hover .nav-main-link{
  border-bottom: 3px solid #006ec2;
}
.nav-sub {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #fff;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #eee;
  text-align: center;
  opacity: 0;
  overflow: hidden;
  transition: opacity 0.2s ease;
  display: none;
}
.nav-main:hover .nav-sub {
  z-index: 1;
  opacity: 1;
  height: auto;
  transition: opacity 0.2s ease, height 0s ease 0.2s;
}

.nav-sub-column{
  display: none;
  margin-top: 50px;
}
.nav-sub-column a{
  display: block;
  margin-bottom: 30px;
}
.btn{
  position: absolute;
  top: 2rem;
  right: 5rem;
}
.btn ul {
  overflow: hidden;
}
.btn ul li{
  float: left;
}
.btn ul li .calender{
  overflow: hidden;
  display: block;
  width: 60px;
  height: 60px;
  background: url(../images/pop_up2.png)no-repeat;
  text-indent: -9999px;
}
.btn ul li .menu{
  overflow: hidden;
  display: block;
  width: 60px;
  height: 60px;
  background: url(../images/pop_up1.png)no-repeat;
  text-indent: -9999px;
  }
.btn ul li + li{
  padding-left: 15px;
}

/* SUB_BACKGROUND */
.sub_background {
	position: relative;
	height: 40rem;
}
.sub_background:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 100%;
	height: 40rem;
	background: url(../images/sub_faq.jpg)no-repeat center;
}
.sub_background .sub_title {
	position: absolute;
	width: 100%;
	text-align: center;
	font-size: 4.8rem;
	font-weight: 500;
	padding: 185px 0 50px;
	color: #fff;
}
.sub_background .sub_menu{
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: rgba(0,0,0,.5);
}
.sub_background .sub_inner {
	position: relative;
	margin: 0 auto;
	max-width: 120rem;
}
.sub_background .sub_inner a {
	width: 7rem;
	height: 7rem;
	text-indent: -1000px;
	background: rgba(0,110,194,.7) url(../images/home.png)no-repeat center;

}
.sub_background .sub_inner a,
.sub_background .sub_inner .sub_menu1,
.sub_background .sub_inner .sub_menu2 {
	float: left;
}
.sub_background .sub_inner .sub_menu1,
.sub_background .sub_inner .sub_menu2 {
	display: inline-block;
	width: 28rem;
	height: 7rem;
}
.sub_background .sub_inner .sub_menu1 .menu1,
.sub_background .sub_inner .sub_menu2 .menu2 {
	position: relative;
	line-height: 7rem;
	background: none;
	outline: none;
	border: none;
	color: #fff;
	font-size: 1.8rem;
	padding: 0 12rem 0 3.5rem;
}
.sub_background .sub_inner .sub_menu1 .menu1:after,
.sub_background .sub_inner .sub_menu2 .menu2:after {
	content: "";
	position: absolute;
	right: 22px;
	z-index: 11;
	display: block;
	width: 8px;
	height: 8px;
	top: 30px;
	transform: rotate(225deg);
	border-top: 2px solid #fff;
	border-left: 2px solid #fff;
	cursor: pointer;
}

#wrapper .contents {
	max-width: 120rem;
	margin: 0 auto;
}
.contents .title_container {
  padding: 8.5rem 2rem 6.5rem 2rem;
}
.contents .title_container .tab_list {
  padding: 0 2rem;
}
.contents .title_container h2 {
	font-size: 3.8rem;
}
.contents .title_container h2,
.contents .title_container .sub_page_titles, 
.contents .title_container .sub_page_btn li {
	float: left;
}
.contents .title_container:after {
	content: "";
	display: block;
	clear: both;
}

.contents .title_container .sub_page_btn {
	float: right;
}
.contents .title_container .sub_page_btn li:not(:last-of-type) a {
	border-right: none;
}
.contents .title_container .sub_page_btn li a{
	border: 1px solid #e1e1e1;
	padding: 1rem;
}
.contents .title_container .sub_page_btn li .position_btn{
	vertical-align: super;
}

.contents .tab_list ul {
	display: table;
	table-layout: fixed;
	width: 100%;
}
.contents .tab_list ul.tabs li.current {
	border-top: 2px solid #006ec2;
	border-left: 1px solid #006ec2;
	border-right: 1px solid #006ec2;
	border-bottom: none;
	color: #fff;
	background: #fff;
}
.contents .tab_list ul.tabs li.current a {
	color: #006ec2;
	font-weight: bold;
}
.tab-content{
  display: none;  
  padding: 1.5rem 2rem;
}
.tab-content.current{
  display: inherit;
}

.contents .tab_list ul li {
	display: table-cell;
	width: calc(100%/8);
	text-align: center;
	padding: 0 1rem;
	border: 1px solid #e1e1e1;
	box-sizing: border-box;
	border-bottom: 1px solid #006ec2;
	background: #f9f9f9;
}
.contents .tab_list ul li a {
	display: inline-block;
	font-size: 1.6rem;
	word-break: keep-all;
	vertical-align: middle;
	width: 100%;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	color: #c7c7c7;
}	
.contents .tab_list ul li:not(:last-of-type) {
	border-right: none;
}

/* TOTAL_CONTAINER */
.total_container .total {
	padding: 6.5rem 0 2rem 0;
}
.total_container .total_icon {
	position: relative;
	display: inline;
	width: 1.5rem;
	height: 1.1rem;
	font-size: 1.4rem;
}
.total_container .total_icon strong {
	color: #006ec2;;
}
.total_container .total_icon span {
	width: 1.5rem;
	height: 0.1rem;
	background: #333;
	position: relative;
	text-indent: -99.9rem;
	display: inline-block;
	margin: 1rem 0.5rem;
	transition: all 0.3s;
	vertical-align: text-top;
}
.total_container .total_icon span:before,
.total_container .total_icon span:after {
	content: '';
	display: block;
	width: 1.5rem;
	height: 0.1rem;
	background: #333;
	position: absolute;
	top: -0.5rem;
	left: 0;
	border-radius: 0;
	transition: all .3s;
}
.total_container .total_icon span:after {
	top: 0.5rem;
}

.faq .q a.trigger {
	width: 100%;
	padding-top: 2.5rem;
	padding-bottom: 2.5rem;
	border-top: 1px solid #e1e1e1;
}
.faq .q a.label_align {
	padding-top: 2rem;
	padding-bottom: 2rem;
}
.faq ul .hide .a{
	display:none;
}  
.faq .q a .q_align,
.faq .q a .question_align {
	line-height: 4rem;
}
.faq .q {
	position: relative;
	margin: 0;
}
.contents .question_box ul {
	border-top: 2px solid #333;
	border-bottom: 1px solid #e1e1e1;
}
.contents .question_box .q {
	display: inline-block;
	width: 100%;
}
.contents .question_box .a {
	padding: 3rem 0;
	display: inline-block;
	width: 100%;
	background: #f8f8f8;
	box-sizing: border-box;
	font-size: 1.8rem;
	border-top: 1px solid #e3e3e3;
	border-bottom: 1px solid #e3e3e3;
}
.contents .question_box .a .answer {
  width: calc(100% - 16rem);
  margin: 0 7rem 0 9rem;
  display: block;
  text-align: left;
}
.contents .question_box .q a:after{
	content: "";
	display: block;
	clear: both;
}
.contents .question_box .question {
	font-size: 2rem;
}
.contents .question_box .q_icon,
.contents .question_box .a_icon {
	margin: 0 1.5rem 0 3rem;
}
.contents .question_box .theme_icon {
	margin: 0 2rem 0 1.5rem;
  /* color: #fff; */
}

.contents .question_box .a .a_icon,
.contents .question_box .q a,
.contents .question_box .q_icon,
.contents .question_box .theme_icon,
.contents .question_box .question {
	float: left;
}

.contents .question_box .right_arrow {
	position: absolute;
	background: url(../images/down_arrow.png)no-repeat center;
	width: 2.2rem;
	text-indent: -1000rem;
	right: 4rem;
	top: 3.3rem;
}
.contents .question_box .q_icon span,
.contents .question_box .a_icon span {
	display: inline-block;
	width: 2.3rem;
	height: 2.3rem;
	text-indent: -1000rem;
	vertical-align: text-bottom;
}
.contents .question_box .q_icon span {
	background: url(../images/q.png)no-repeat center;
}
.contents .question_box .a_icon span {
	background: url(../images/a.png)no-repeat center;
}
.contents .question_box .theme_icon span {
  float: left;
	box-sizing: border-box;
	word-break: keep-all;
  margin-left: .5rem;
	border-radius: 2px;
	text-align: center;
}

/* .contents .question_box .theme_icon .question {
  float: none;
  display: block;
  text-align: left;
  width: calc(100% - 10rem);
  margin: 0 5rem;
  line-height: 3rem;
} */
.contents .question_box .theme_icon 
  .specific_icon,
  .all_icon,
  .graduate_icon,
  .scheduled_icon,
  .nonschedule_icon,
  .transfer_icon,
  .common_icon,
  .etc_icon {
    float: left;
    padding: 0.6rem 0.4rem;
    width: 7.3rem;
    color: #fff;
    display: block;
    line-height: 1.5rem;
    margin-right: 1rem;
    float: left;
}
.contents .question_box .theme_icon  
  .specific_icon {
    background-color: #917dff;
  
  } 
  .all_icon {
    background-color: #02a07d;
  }
  .graduate_icon {
    background-color: #2aafd8;

  }
  .scheduled_icon {
    background-color: #1496ae;
  }
  .nonschedule_icon {
    background-color: #006ec3;
  }
  .transfer_icon {
    background-color: #5b39d5;
  }
  .common_icon {
    background-color: #ff6c13;
  }
  .etc_icon {
    background-color: #73819e;
  }	
/* PAGINATION */
.pagination_area {
	padding: 4rem 0 12rem 0;
}
.pagination_area .page_inner .page_box {
	text-align: center;
}
.pagination_area .page_inner ul li img {
	padding: 1.5rem;
}
.page_inner .pagination {
	display: inline-block;
	line-height: 2.5;
}
.page_inner .pagination .right_space {
	margin-right: 2rem;
}
.page_inner .pagination .left_space {
	margin-left: 2rem;
}
.page_inner .pagination li {
	float: left;
	font-size: 1.6rem;
	width: 4.2rem;
	height: 4.3rem;
	border: 1px solid #e1e1e1;
}

.page_inner .pagination li.active {
	border: 1px solid #006ec2;
}
.page_inner .pagination li.active a {
	color: #006ec2;
	font-weight: bold;
}
.page_inner .pagination li .arrow_left1,
.page_inner .pagination li .arrow_left2,
.page_inner .pagination li .arrow_right1,
.page_inner .pagination li .arrow_right2 {
	padding: 0;
}
.page_inner .pagination li a {
	color: #666;
	padding: 1rem;
}
/* FOOTER */
#wrapper footer {
	background: #333;
  /* padding: 0 2rem; */
}
footer .footer_inner {
	max-width: 120rem;
	margin: 0 auto;
}
footer .footer_top {
	border-bottom: 1px solid #999;
}
footer .footer_top:after{
	content: "";
	display: block;
	clear: both;
}
.footer_top .footer_menu li {
	float: left;
	margin: 0 2rem 0;
	padding: 3.5rem 0 3rem 0;
}
.footer_top ul li:first-child {
	margin-left: 0;
}
.footer_top .footer_menu {
	float: left;
	font-size: 1.6rem;
}
.footer_top .footer_menu li.on a {
	color: #fff;
}
.footer_top .footer_menu li.on a:before {
	content: "";
	display: block;
	position: absolute;
	border-radius:50%;
	width: .5rem;
	height: .5rem;
	background: #fff;
	right: -1rem;
	top: 0;
}
.footer_top .footer_menu a {
	color: #999;
	position: relative;
}
.footer_top .footer_sns li {
	float: left;
	margin: 0 0.75rem 0;
	padding: 3.5rem 0 3rem 0;

}
.footer_top .footer_sns {
	float: right;
}
.footer_sns li a {
	border-radius: 50%;
	border: 1px solid #999;
	padding: 1.1rem 1rem;
}
.footer_top .footer_ad {
  display: none;
} 
.footer_address .footer_left {
	padding-top: 5rem;
	padding-bottom: 7.5rem;
	font-size: 1.5rem;
}
.footer_address .footer_left address {
	color: #aeaeae;
}
.footer_address .footer_left address .footer_num {
	margin-left: 1.5rem;
}
.footer_address .footer_left address .footer_num .fax {
	margin-left: 1.5rem;
}
.footer_address .footer_left p {
	color: #666;
}
@media screen and (max-width:1600px) {
  #wrapper .header_area {
    min-width: auto;
  }
  .nav {
    display: none;
  }
}
/*MOBILE*/
@media screen and (max-width:768px) {
  #wrapper .header_area:hover {
    height: auto;
  }
  .contents .title_container,
  .tab_list,
  .tab-content {
    width: calc(100% - 6rem);
    margin: 0 3rem;
  }
  .contents .tab_list ul {
    display: block;
  }
  .contents .tab_list ul li {
    width: auto;
    display: block;
  }
  .tab-content {
    padding: 1.5rem 0;
  }

  .contents .question_box .q_icon, .contents .question_box .a_icon {
    margin: 0 1rem 0 2rem;
  }
  .contents .question_box .theme_icon {
    float : none;
  }
  .contents .question_box .theme_icon .specific_icon,
  .contents .question_box .theme_icon .all_icon{
    width: auto;
    margin: 0.25rem 1rem 0.25rem 1rem;
    padding: 0.5rem 1rem;
    line-height: 2rem;
    float: left;
  }
  .contents .question_box .theme_icon span {
    float: none;
    display: block;
    text-align: left;
    width: calc(100% - 10rem);
    margin: 0 5rem 0 5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    line-height: 3rem;
  }
  .contents .question_box .theme_icon .transfer_icon,
  .contents .question_box .theme_icon .graduate_icon,
  .contents .question_box .theme_icon .nonschedule_icon,
  .contents .question_box .theme_icon .scheduled_icon,
  .contents .question_box .theme_icon .common_icon,
  .contents .question_box .theme_icon .etc_icon{
    width: auto;
    margin: 0.25rem 1rem 0.25rem 1rem;
    padding: 0.5rem 1rem;
    line-height: 2rem;
    display: inline-block;
    color: #fff;
    float: left;
  }
  .contents .question_box .a .answer {
    display: block;
    width: calc(100% - 12rem);
    margin: 0 6rem;
    /* width: 68%; */
  }
  footer .footer_top {
    border: none;
  }
  .footer_top .footer_menu {
    display: inline-block;
    float: none;
    width: 100%;
  }
  .footer_top .footer_menu li{
    width: 50%;
    text-align: center;
    margin: 0;
    box-sizing: border-box;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
  }
  .footer_top .footer_ad {
    display: block;
    float: left;
    padding: 0.95rem 0;
  } 
  .footer_address .footer_left address .footer_num {
    margin-left: 0;
    display: block;
  }
}
@media screen and (max-width:500px) {
  #wrapper .header_area:hover {
    height: auto;
  }
  .contents .tab_list ul {
    display: block;
  }
  .contents .tab_list ul li {
    width: auto;
    display: block;
  }

}
