.contents .tab_list .tab_box {
  display: none;
}
  table tbody td 
  .specific_icon,
  .all_icon,
  .graduate_icon,
  .scheduled_icon,
  .nonschedule_icon,
  .transfer_icon,
  .common_icon,
  .etc_icon {
    width: 7.3rem;
    color: #fff;
    line-height: 1.5rem;
    background-color: transparent;
    float: left;
    display: block;
    margin: 0 2.1rem;
    /* line-height: 4rem; */
    padding: 0rem 0.4rem;
  }

table tbody .line_up_center {
  line-height: 4rem;
}
table tbody .drafter {
  text-align: center;
  width: 10.8rem;
}
table tbody td:nth-child(4) {
  width: 7.5rem;
}
table tbody td:nth-child(5) {
  width: 14.5rem;
}

.total_container .total {
  line-height: 4rem;
  padding: 6.5rem 0 3rem 0;
}
table td
.total_container .total_icon {
	line-height: 4rem;
}
.total_container .list_search, 
.total_container .search_box {
	float: right;
}
.total_container .list_search{
	width: 48.5rem;
}
.total_container .search_box {
	overflow: hidden;
	height: 4rem;
}
.total_container .search_box input{
	width: 32rem;
	float: left;
	box-sizing: border-box;
}
.total_container .search_box .search_bar, 
.total_container .list_search .list_area {
	height: 4rem;
	border: 1px solid #e1e1e1;
	outline: none;
}
.total_container .list_search .list_area {
	width: 12rem;
}
.total_container .search_box .search_btn {
	text-indent: 1000rem;
	position: relative;
	display: inline-block;
	overflow: hidden;
	width: 4rem;
	height: 4rem;
	background-color: #006ec2;
	line-height: 50rem;
	border: none;

}
.total_container .search_box .search_btn:before {
	position: absolute;
	content: "";
	width: 1.8rem;
	height: 1.8rem;
	background: url(../images/search_glass.png)no-repeat center;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.total_container:after {
  content:'';
  display:block;
  clear:both;
}
table {
	width: 100%;  
}

table thead {
	height: 5rem;
	border-top: 2px solid #333;
	border-bottom: 1px solid #999;
	font-size: 1.4rem;
	color: #666;
}
table thead tr th:nth-child(2) {
  width: 12rem;
}
table tbody tr {
  font-size: 1.6rem;
	height: 7rem;
	border-bottom: 0.1rem solid #e1e1e1;
}
table td:first-child {
	font-size: 1.5rem;
	color: #999;
  text-align: center;
  width: 6.5rem;
}
table td:nth-child(n+4) {
	font-size: 1.4rem;
  text-align: center;
}
table td:nth-child(4),
table td:nth-child(5) {
	color: #666;

}
table .item_left {
	font-size: 1.6rem;
}
table tbody tr .item_cont {
	position: relative;
}
table tbody tr .item_cont:after {
	position: absolute;
	content: '';
	display: inline-block;
	background: url(../images/locker.png)no-repeat;
	right: -2.2rem;
  top: 0;
	width: 1.8rem;
	height: 2.2rem;
}

table tbody td 
	.standby {
		border: 1px solid #999;
		box-sizing: border-box;
		padding: 0.5rem 1rem;
	}
	.complete {
		border: 1px solid #999;
		box-sizing: border-box;
		background: #999;
		padding: 0.5rem 1rem;
		color: #fff;
	}
	.theme_icon span {
		display: inline-block;
		box-sizing: border-box;
		word-break: keep-all;
		padding: 0.6rem 0.4rem;
		width: 7.3rem;
		border-radius: 2px;
		font-size: 1.3rem;
		line-height: 1.4rem;
		color: #fff;
		text-align: center;
	}
	.specific_icon span {
		background-color: #917dff;
		vertical-align: middle;
	} 
	.graduate_icon span {
	background-color: #2aafd8;
	}
	.nonschedule_icon span {
	background-color: #006ec3;
	}
	.all_icon span {
		background-color: #02a07d;
		vertical-align: middle;
	}
	.transfer_icon span {
		background-color: #5b39d5;
	}
	.scheduled_icon span {
		background-color: #1496ae;
	}
	.etc_icon span {
		background-color: #73819e;
	}	
	
.pagination_area {
	position: relative;
}
.page_inner .q_box {
	position: absolute;
	right: 0;
	top: 4rem;
} 
.page_inner .q_box .q_box_btn {
	width: 14rem;
	height: 5rem;
	border: none;
	background: #006ec2;
	color: #fff;
	font-size:1.8rem;
	font-weight: medium;
	cursor: pointer;
}

@media screen and (max-width:768px) {
  table thead {
    display: none;
  }
  table,tbody,tbody tr {
    display: block;
  }
  table tbody {
    border-top: 2px solid #333;
  }
  table tbody tr {
    position: relative;
    height: auto !important;
  }
  table tbody tr:after {
    content:'';
    display:block;
    clear:both;
  }
  table tbody td 
  .specific_icon, 
  .all_icon, 
  .graduate_icon, 
  .scheduled_icon, 
  .nonschedule_icon, 
  .transfer_icon, 
  .common_icon, 
  .etc_icon {
    margin: 0;
    width: auto;
    /* line-height: initial; */
  }
  /* table tbody td .all_icon,
  table tbody td .specific_icon {
    width : auto;
  } */
  table tbody td .all_icon span,
  table tbody td .specific_icon span {
    width: auto;
    line-height: 2rem;
    float: left;
    display: block;
  }
  table tbody td a {
    display: block;
    padding: 0 1rem 0 1rem;
    line-height: 3.2rem;
  }

  table tbody td:nth-child(4) {
    padding: 0rem 2rem 1.5rem 0;
    font-size: 1.2rem;
  }
  table td:nth-child(5) {
    position: absolute;
    top: 0;
    right: 0;
    height: calc(100% - 4rem);
    margin: 2rem 0;
    line-height: 4.5rem;
  }
  table tbody td .standby,
  table tbody td .complete {
    padding: 0;
    border: 0;
    background: none;
    font-size: 1.3rem;
  }
  table tbody td .complete {
    color: #006ec2;
  }
  table tbody td:nth-child(1) {
    display: none;
  }
  table tbody .line_up_center {
    word-break: keep-all;
    line-height: 3.2rem;
    display: block;
    padding: 0.5rem 11.4rem 0.5rem 0;
  }
  .total_container .list_search {
    float: left;
    width: 100%;
    padding-bottom: 2rem;
  } 
  .total_container .list_search .list_area {
    width: 20%;
  }
  .total_container .search_box {
    width: 78%;
  }
  .total_container .search_box .search_bar {
    width: 88%;
  }
  .total_container .search_box .search_btn {
    width: 12%;
  }
  



  /* MOBILE_TAB */

  .contents .tab_list .tab_box {
    border: 2px solid #333;
    padding: 1rem 1.5rem;
    display: block;
    height: 4.5rem;
    font-size: 1.6rem;
    box-sizing: border-box;
  }
  .contents .tab_list ul {
    display: none;
    border: 1px solid #e1e1e1;
    box-sizing: border-box;
  }
  .contents .tab_list ul li {
    width: auto;
    display: block;
    text-align: left;
    padding: 1rem 1.5rem;
    height: 4.5rem;
    box-sizing: border-box;
    background: none;
    border-bottom: none;
  }
  .contents .tab_list ul.tabs li.current {
    border: 1px solid #e1e1e1;
    border-bottom: none;
  }
  .contents .tab_list ul li a {
    padding: 0;
  }
  .tab-content {
    padding: 1.5rem 0;
  }
  table tbody .drafter {
    float: left;
    text-align: left;
    width: auto;
    /* width: 5.5rem; */
    display: block;
    padding: 0rem 1rem 1.5rem 1.5rem;
    font-size: 1.2rem;

  }
  .pagination_area {
    padding: 3rem 0 12rem 0;
  }
  .pagination_area .page_inner {
    width: 100%;
  }
  .page_inner .q_box {
    position: static;
    padding-bottom: 3.5rem;
  }
  .page_inner .q_box .q_box_btn {
    width: 100%;
  }

}

@media screen and (max-width:500px) {
  table tbody tr {
    display: inline-table;
  }
  table tbody .line_up_center {
    float: left;
    width: 80%;
    margin-left: 2rem;
  }
  /* table tbody td .transfer_icon {
    margin : 0 1rem 0 0;
  }
  table tbody tr .item_cont {
    display: block;
    margin: 0 6.5rem 0 0;
  }
  table tbody .drafter {
    float: left;
  } */
  
}
